<table class="table table-bordered table-hover table-condensed">
    <thead><tr><th title="Field #1">id</th>
        <th title="Field #2">label</th>
        <th title="Field #3">lang</th>
        <th title="Field #4">itemclass</th>
        <th title="Field #5">uuid</th>
        <th title="Field #6">status</th>
        <th title="Field #7">description</th>
        <th title="Field #8">owner</th>
        <th title="Field #9">versionNumber</th>
        <th title="Field #10">lastUpdated</th>
        <th title="Field #11">dateSubmitted</th>
        <th title="Field #12">dateAccepted</th>
        <th title="Field #13">codevalue</th>
        <th title="Field #14">AlertDate</th>
        <th title="Field #15">EffectiveDate</th>
        <th title="Field #16">ValidFrom</th>
        <th title="Field #17">ValidTo</th>
    </tr></thead>
    <tbody><tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/14</td>
        <td align="right">14</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>063e9962-d8e6-4c50-8c27-0921c7b38cc8</td>
        <td>Gyldig</td>
        <td>Sogn og Fjordane</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:13.167</td>
        <td>2017-12-20T07:57:13.167</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/12</td>
        <td align="right">12</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>38524c6a-9bbf-4797-8fca-0bf04628f9a8</td>
        <td>Gyldig</td>
        <td>Hordaland</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:13.12</td>
        <td>2017-12-20T07:57:13.12</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/05</td>
        <td align="right">05</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>c6408054-02a3-46c6-9398-1b3a4e82edda</td>
        <td>Gyldig</td>
        <td>Oppland</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:06.397</td>
        <td>2017-12-20T07:57:06.397</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/13</td>
        <td align="right">13</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>972a5b62-3632-4afb-94eb-1df943aa6c48</td>
        <td>Utgått</td>
        <td>Bergen</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:13.15</td>
        <td>2017-12-20T07:57:13.15</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td>1918-01-01T00:00:00</td>
        <td>1971-12-31T00:00:00</td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/20</td>
        <td align="right">20</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>b3c2627e-a59f-487e-83c6-1edf427e2c8d</td>
        <td>Gyldig</td>
        <td>Finnmark - Finnmárku</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:17.83</td>
        <td>2017-12-20T07:57:17.83</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/02</td>
        <td align="right">02</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>4e41168c-fb8c-4291-9af3-2f1f5c10c815</td>
        <td>Gyldig</td>
        <td>Akershus</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:06.35</td>
        <td>2017-12-20T07:57:06.35</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/18</td>
        <td align="right">18</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>bfb8b6b7-e410-463b-99ec-3a871d735e04</td>
        <td>Gyldig</td>
        <td>Nordland</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:16.067</td>
        <td>2017-12-20T07:57:16.067</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/06</td>
        <td align="right">06</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>58f6ea10-7ff0-45a2-80b2-3e6f78465416</td>
        <td>Gyldig</td>
        <td>Buskerud</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:07.567</td>
        <td>2017-12-20T07:57:07.567</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/17</td>
        <td align="right">17</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>4ff0520e-696e-4551-a64e-5c55db92f9e3</td>
        <td>Utgått</td>
        <td>Nord-Trøndelag</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:15.07</td>
        <td>2017-12-20T07:57:15.07</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>2017-12-31T00:00:00</td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/07</td>
        <td align="right">07</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>001c0496-5a93-4013-949a-5e1d09264333</td>
        <td>Gyldig</td>
        <td>Vestfold</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:08.47</td>
        <td>2017-12-20T07:57:08.47</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/50</td>
        <td align="right">50</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>a12d84a9-1ee4-4ca5-b2a4-636938929b5e</td>
        <td>Gyldig</td>
        <td>Trøndelag</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T08:03:11.467</td>
        <td>2017-12-20T08:03:11.467</td>
        <td>2018-01-02T09:18:23.707</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td>2018-01-01T00:00:00</td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/19</td>
        <td align="right">19</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>f471c0b2-41e6-43c6-bc8b-68f5af713901</td>
        <td>Gyldig</td>
        <td>Troms - Romsa</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:16.987</td>
        <td>2017-12-20T07:57:16.987</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/08</td>
        <td align="right">08</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>1f3590e3-2e40-48d2-b166-6cdf74ba080c</td>
        <td>Gyldig</td>
        <td>Telemark</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:09.33</td>
        <td>2017-12-20T07:57:09.33</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/10</td>
        <td align="right">10</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>da2eddea-0bc2-4d74-b84b-76970de57c3c</td>
        <td>Gyldig</td>
        <td>Vest-Agder</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:11.327</td>
        <td>2017-12-20T07:57:11.327</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/04</td>
        <td align="right">04</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>19057127-6b5c-4dad-8eea-7f01383092e7</td>
        <td>Gyldig</td>
        <td>Hedmark</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:06.38</td>
        <td>2017-12-20T07:57:06.38</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/03</td>
        <td align="right">03</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>c2f4dc93-0837-48b8-8c8a-a56e6783fd23</td>
        <td>Gyldig</td>
        <td>Oslo</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:06.367</td>
        <td>2017-12-20T07:57:06.367</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/01</td>
        <td align="right">01</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>bbac5895-f786-44b6-ab5a-bbc424488778</td>
        <td>Gyldig</td>
        <td>Østfold</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:06.223</td>
        <td>2017-12-20T07:57:06.223</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/16</td>
        <td align="right">16</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>f4a81b95-5ccc-4593-8a77-ccb99148173f</td>
        <td>Utgått</td>
        <td>Sør-Trøndelag</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:14.15</td>
        <td>2017-12-20T07:57:14.15</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>2017-12-31T00:00:00</td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/09</td>
        <td align="right">09</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>75a7bb14-35f6-46fe-9f6c-d2bbde5afc84</td>
        <td>Gyldig</td>
        <td>Aust-Agder</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:10.313</td>
        <td>2017-12-20T07:57:10.313</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/11</td>
        <td align="right">11</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>806c9e63-5dc3-4d6f-8eb5-e28ca81c4517</td>
        <td>Gyldig</td>
        <td>Rogaland</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:12.263</td>
        <td>2017-12-20T07:57:12.263</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>https://register.geonorge.no/subregister/sosi-kodelister/kartverket/fylkesnummer-alle/kartverket/15</td>
        <td align="right">15</td>
        <td>no</td>
        <td>CodelistValue</td>
        <td>2a90e083-0bc2-4b47-8c04-f2ca217d0f52</td>
        <td>Gyldig</td>
        <td>Møre og Romsdal</td>
        <td>Kartverket</td>
        <td>1</td>
        <td>2017-12-20T07:57:13.23</td>
        <td>2017-12-20T07:57:13.23</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td>0001-01-01T00:00:00</td>
        <td>0001-01-01T00:00:00</td>
        <td> </td>
        <td> </td>
    </tr>
    </tbody></table>