<table class="table table-bordered table-hover table-condensed">
    <thead><tr><th title="Field #1">tema_vitenskap</th>
        <th title="Field #2">type_kunst_og_haandverk</th>
        <th title="Field #3">offentlige_tjenester_og_veldedighet</th>
        <th title="Field #4">type_idrett_og_fysisk_aktivitet</th>
        <th title="Field #5">type_dyr</th>
        <th title="Field #6">hva_er_spesielt</th>
        <th title="Field #7">aar</th>
        <th title="Field #8">video_url</th>
        <th title="Field #9">hovedperson3_kjonn</th>
        <th title="Field #10">type_landbruk_og_fiske</th>
        <th title="Field #11">hovedperson3_alder</th>
        <th title="Field #12">antall_kvinner</th>
        <th title="Field #13">tema_kjop_og_salg</th>
        <th title="Field #14">type_musikere</th>
        <th title="Field #15">type_natur_og_idrett</th>
        <th title="Field #16">tema_samlere_entusiaster_og_oppfinnere</th>
        <th title="Field #17">hovedperson1_alder</th>
        <th title="Field #18">tittel</th>
        <th title="Field #19">type_historisk</th>
        <th title="Field #20">type_mat</th>
        <th title="Field #21">tema_politikk_og_media</th>
        <th title="Field #22">kommune</th>
        <th title="Field #23">hovedperson2_kjonn</th>
        <th title="Field #24">hovedperson2_alder</th>
        <th title="Field #25">tema</th>
        <th title="Field #26">antrekk</th>
        <th title="Field #27">hovedperson1_kjonn</th>
        <th title="Field #28">type_bygg_og_industri</th>
        <th title="Field #29">antall_menn</th>
        <th title="Field #30">tema_natur_og_friluftsliv</th>
        <th title="Field #31">folelse</th>
        <th title="Field #32">relasjoner</th>
    </tr></thead>
    <tbody><tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=2m7s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>10 til 15</td>
        <td>Rypejakt</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Bergen</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Natur og friluftsliv</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">4</td>
        <td>Jakt</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=5m57s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Kraftutbygging</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Sirdal</td>
        <td> </td>
        <td> </td>
        <td>Bygg og industri</td>
        <td>Hjelm</td>
        <td>Mann</td>
        <td>Anlegg, Kraftproduksjon</td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=10m14s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Fraflyttingstilskudd</td>
        <td> </td>
        <td> </td>
        <td>Distriktspolitikk, Samferdselspolitikk</td>
        <td>Øksnes</td>
        <td> </td>
        <td> </td>
        <td>Politikk</td>
        <td>Caps, Slips</td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Restaurering og reparasjon</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=18m14s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Trønderlån</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Orkdal</td>
        <td>Kvinne</td>
        <td>40 til 50</td>
        <td>Kunst og Håndverk</td>
        <td> </td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=22m29s</td>
        <td> </td>
        <td>Grønnsaker og urter, Tomat</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Dyrking av tomater</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Finnøy</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Landbruk og fiske</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=26m26s</td>
        <td> </td>
        <td>Åker og jorder og nydyrking</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Nydyrking</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Østre Toten</td>
        <td> </td>
        <td> </td>
        <td>Landbruk og fiske</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Spesiell latter</td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=30m29s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Etter turistsesongen</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Stranda</td>
        <td>Mann</td>
        <td>80 til 90</td>
        <td>Natur og friluftsliv</td>
        <td>Caps, Hjelm</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td>Turisme</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=34m51s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Bomullsveveri</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Bergen</td>
        <td> </td>
        <td> </td>
        <td>Bygg og industri</td>
        <td>Caps, Slips</td>
        <td>Mann</td>
        <td>Tekstilproduksjon</td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004676/02-10-1976#t=38m41s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Elgjakt</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Øvre Eiker</td>
        <td> </td>
        <td> </td>
        <td>Natur og friluftsliv</td>
        <td>Caps</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right"></td>
        <td>Jakt</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Fugl, Ørn</td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004776/16-10-1976#t=28s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Havørner</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Bodø</td>
        <td> </td>
        <td> </td>
        <td>Dyr</td>
        <td>Hatt</td>
        <td> </td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004776/16-10-1976#t=9m42s</td>
        <td> </td>
        <td>Eple, Frukt</td>
        <td> </td>
        <td align="right">7</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Eplehøsten</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ullensvang</td>
        <td> </td>
        <td> </td>
        <td>Landbruk og fiske</td>
        <td>Slips, Sydvest</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004776/16-10-1976#t=15m49s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Rognebærtreet på Vardøhus festning</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Vardø</td>
        <td> </td>
        <td> </td>
        <td>Natur og friluftsliv</td>
        <td>Hatt, Uniform</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td>Trær</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004776/16-10-1976#t=19m50s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Presterødkilen naturreservat</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Tønsberg</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Natur og friluftsliv</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td>Vern</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004776/16-10-1976#t=23m41s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Nordre Øyeren naturreservat</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Fet</td>
        <td> </td>
        <td> </td>
        <td>Natur og friluftsliv</td>
        <td>Hatt</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td>Vern</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004876/30-10-1976#t=27s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Anda fyr</td>
        <td> </td>
        <td> </td>
        <td>Samferdselspolitikk</td>
        <td>Øksnes</td>
        <td> </td>
        <td> </td>
        <td>Politikk</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004876/30-10-1976#t=6m12s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Vest-Telemark Blad</td>
        <td> </td>
        <td> </td>
        <td>Avis</td>
        <td>Kviteseid</td>
        <td> </td>
        <td> </td>
        <td>Politikk og media</td>
        <td>Strikkekofte</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004876/30-10-1976#t=12m56s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Vernehjem</td>
        <td> </td>
        <td> </td>
        <td>Plasseringsstrid</td>
        <td>Karmøy</td>
        <td>Mann</td>
        <td>50 til 60</td>
        <td>Politikk og media</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td>Terapi</td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004876/30-10-1976#t=19m43s</td>
        <td> </td>
        <td>Fiskere, Ål</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>70 til 80</td>
        <td>Ålefiske</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Lillesand</td>
        <td>Mann</td>
        <td>80 til 90</td>
        <td>Landbruk og fiske</td>
        <td>Caps, Hatt, Kjeledress, Sydvest</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004976/13-11-1976#t=29s</td>
        <td> </td>
        <td>Sauehold</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>20 til 30</td>
        <td>Saueklipping</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ukjent sted</td>
        <td> </td>
        <td> </td>
        <td>Landbruk og fiske</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Sko, Skomaker</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004976/13-11-1976#t=2m37s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>60 til 70</td>
        <td>Skomaker</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Tromsø</td>
        <td> </td>
        <td> </td>
        <td>Kunst og Håndverk</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Restaurering og reparasjon, Sko, Skomaker</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Grunder</td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004976/13-11-1976#t=7m53s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>20 til 30</td>
        <td>Skomaker</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Bærum</td>
        <td>Kvinne</td>
        <td>30 til 40</td>
        <td>Kunst og Håndverk</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Helsetjenester</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004976/13-11-1976#t=13m44s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Transport av uføre</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Trondheim</td>
        <td>Mann</td>
        <td>50 til 60</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Uniform</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">4</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Livsvisdom, Personlighet</td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45004976/13-11-1976#t=19m54s</td>
        <td> </td>
        <td>Gårdsdrift, Kyr</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>80 til 90</td>
        <td>Småbruk</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Dovre</td>
        <td> </td>
        <td> </td>
        <td>Landbruk og fiske</td>
        <td>Kjeledress</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Skole</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005076/27-11-1976#t=27s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>20 til 30</td>
        <td>Ungdomsskoleelever</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Loppa</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005076/27-11-1976#t=13m51s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Årbok</td>
        <td>Bygdehistorie og årbøker</td>
        <td> </td>
        <td> </td>
        <td>Lenvik</td>
        <td> </td>
        <td> </td>
        <td>Historisk</td>
        <td>Slips, Strikkekofte</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Motor, Oppfinnelser, Smed</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005076/27-11-1976#t=18m55s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>70 til 80</td>
        <td>Smed og oppfinner</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Askim</td>
        <td> </td>
        <td> </td>
        <td>Kunst og Håndverk</td>
        <td>Caps, Kjeledress</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005176/11-12-1976#t=29s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Møte i fylkestinget</td>
        <td> </td>
        <td> </td>
        <td>Politiske møter</td>
        <td>Kristiansund</td>
        <td> </td>
        <td> </td>
        <td>Politikk og media</td>
        <td>Hatt, Slips</td>
        <td> </td>
        <td> </td>
        <td align="right">50</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005176/11-12-1976#t=7m38s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Havneutbygging</td>
        <td> </td>
        <td> </td>
        <td>Distriktspolitikk</td>
        <td>Vadsø</td>
        <td> </td>
        <td> </td>
        <td>Politikk og media</td>
        <td>Hatt, Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">4</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Personlighet</td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005176/11-12-1976#t=14m2s</td>
        <td> </td>
        <td>Fiskere, Hval</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>80 til 90</td>
        <td>Tidligere hvalfanger forteller</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Sund</td>
        <td> </td>
        <td> </td>
        <td>Landbruk og fiske</td>
        <td>Hatt</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Jul</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005176/11-12-1976#t=21m3s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>60 til 70</td>
        <td>Produksjon av julegirlandere</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Trondheim</td>
        <td> </td>
        <td> </td>
        <td>Kunst og Håndverk</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005176/11-12-1976#t=23m33s</td>
        <td> </td>
        <td>Skogsdrift</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Kristtorn</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Finnøy</td>
        <td> </td>
        <td> </td>
        <td>Landbruk og fiske</td>
        <td>Caps, Hatt</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Personlighet</td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=28s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td>Korsang, Orgel</td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Pensjonert domorganist</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Trondheim</td>
        <td> </td>
        <td> </td>
        <td>Musikk</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">50</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=16m9s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">4</td>
        <td> </td>
        <td>Cembalo, Orkester</td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Konsert</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Tønsberg</td>
        <td> </td>
        <td> </td>
        <td>Musikk</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">8</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Personlighet</td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=20m8s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>70 til 80</td>
        <td>I japansk fangenskap under andre verdenskrig</td>
        <td>Krigshistorie</td>
        <td> </td>
        <td> </td>
        <td>Alstahaug</td>
        <td> </td>
        <td> </td>
        <td>Historisk</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=25m33s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>90 til 100</td>
        <td>Den gamle steinkirken</td>
        <td>Bygninger, Kirkebygg</td>
        <td> </td>
        <td> </td>
        <td>Flora</td>
        <td> </td>
        <td> </td>
        <td>Historisk</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=30m20s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Julefeiring</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Jan Mayen</td>
        <td> </td>
        <td> </td>
        <td>Ukategoriserbart</td>
        <td>Slips, Strikkekofte, Uniform</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=36m13s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>80 til 90</td>
        <td>Juletradisjoner</td>
        <td>Gamle dager, Samisk</td>
        <td> </td>
        <td> </td>
        <td>Karasjok</td>
        <td> </td>
        <td> </td>
        <td>Historisk</td>
        <td>Samiske klær</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=41m7s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Juleforberedelser</td>
        <td> </td>
        <td>Diverse tradisjonsmat, Middag</td>
        <td> </td>
        <td>Valle</td>
        <td>Kvinne</td>
        <td>30 til 40</td>
        <td>Mat</td>
        <td>Bunad, Hatt</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=45m19s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td>Musikkvideo</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Julekveldsvisa</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ringsaker</td>
        <td> </td>
        <td> </td>
        <td>Musikk</td>
        <td>Hatt, Strikkekofte</td>
        <td> </td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=6m18s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>60 til 70</td>
        <td>Malmheim Skolekor. Gårdsdrift. Malmheim Skolekorps</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Sandnes</td>
        <td>Mann</td>
        <td>20 til 30</td>
        <td>Ukategoriserbart</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005276/24-12-1976#t=9m53s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Elektrisk lys til gårds</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Stordal</td>
        <td> </td>
        <td> </td>
        <td>Ukategoriserbart</td>
        <td>Kjeledress</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1976</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP45005076/27-11-1976#t=7m8s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">75</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Kulturlivet</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Sandøy</td>
        <td> </td>
        <td> </td>
        <td>Ukategoriserbart</td>
        <td>Slips, Strikkekofte</td>
        <td> </td>
        <td> </td>
        <td align="right">75</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008777/08-01-1977#t=1m40s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Nedre Tyholmen</td>
        <td>Arkitektur, Bygninger, Restaurering</td>
        <td> </td>
        <td> </td>
        <td>Arendal</td>
        <td>Mann</td>
        <td>30 til 40</td>
        <td>Historisk</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008777/08-01-1977#t=6m18s</td>
        <td>Mann</td>
        <td>Fiskere</td>
        <td>20 til 30</td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Banklinefiske</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Herøy (Nordl.)</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Landbruk og fiske</td>
        <td>Kjeledress, Skinnlue</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008777/08-01-1977#t=13m7s</td>
        <td>Mann</td>
        <td> </td>
        <td>50 til 60</td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Om kommuneadministrasjon</td>
        <td> </td>
        <td> </td>
        <td>Distriktspolitikk</td>
        <td>Hole</td>
        <td>Mann</td>
        <td>50 til 60</td>
        <td>Politikk og media</td>
        <td>Caps, Hatt, Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008777/08-01-1977#t=18m4s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Landets nyeste kommunale enhet</td>
        <td> </td>
        <td> </td>
        <td>Kommunesammenslåing</td>
        <td>Sula</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Politikk og media</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008777/08-01-1977#t=22m34s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Nærbø ønsker løsriving fra Hå kommune</td>
        <td> </td>
        <td> </td>
        <td>Kommunesammenslåing</td>
        <td>Hå</td>
        <td>Mann</td>
        <td>30 til 40</td>
        <td>Politikk og media</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Vernabedrifter</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008877/22-01-1977#t=3m13s</td>
        <td>Mann</td>
        <td> </td>
        <td>60 til 70</td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>20 til 30</td>
        <td>Papirinnsamling</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Kristiansand</td>
        <td>Kvinne</td>
        <td>40 til 50</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008777/08-01-1977#t=28m11s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Bertil Gåbort</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ringsaker</td>
        <td> </td>
        <td> </td>
        <td>Ukategoriserbart</td>
        <td>Kjeledress</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Tegning og maling</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008877/22-01-1977#t=10m53s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>60 til 70</td>
        <td>Kurs i kunstmaling</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Hjelmeland</td>
        <td> </td>
        <td> </td>
        <td>Kunst og Håndverk</td>
        <td>Hatt, Slips</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008877/22-01-1977#t=17m9s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Bompenger</td>
        <td> </td>
        <td> </td>
        <td>Samferdselspolitikk</td>
        <td>Bergen</td>
        <td> </td>
        <td> </td>
        <td>Politikk og media</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008877/22-01-1977#t=22m20s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Bompenger</td>
        <td> </td>
        <td> </td>
        <td>Samferdselspolitikk</td>
        <td>Hvaler</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Politikk og media</td>
        <td>Caps, Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008877/22-01-1977#t=25m12s</td>
        <td>Mann</td>
        <td> </td>
        <td>30 til 40</td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>15 til 20</td>
        <td>Kjøreopplæring</td>
        <td> </td>
        <td> </td>
        <td>Distriktspolitikk</td>
        <td>Namsos</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Politikk og media</td>
        <td>Kjeledress, Slips</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Teater og forestillinger</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008877/22-01-1977#t=30m49s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>20 til 30</td>
        <td>Teater om veiplan</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Trondheim</td>
        <td> </td>
        <td> </td>
        <td>Kunst og Håndverk</td>
        <td>Slips</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Post og tele</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008977/05-02-1977#t=38s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Til fjells med Televerket</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Sogndal</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Skole</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008977/05-02-1977#t=8m57s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">7</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Dyreutstilling på Halden Lærerskole</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Halden</td>
        <td> </td>
        <td> </td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">7</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Post og tele, Jernbane</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008977/05-02-1977#t=12m29s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>NSB sentralskiftestasjon</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Oslokommune</td>
        <td> </td>
        <td> </td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Caps, Kjeledress, Skinnlue</td>
        <td> </td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008977/05-02-1977#t=19m48s</td>
        <td>Kvinne</td>
        <td> </td>
        <td>15 til 20</td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Ungdom og fritid</td>
        <td> </td>
        <td> </td>
        <td>Ungdomspolitikk</td>
        <td>Tønsberg</td>
        <td>Mann</td>
        <td>15 til 20</td>
        <td>Politikk og media</td>
        <td> </td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008977/05-02-1977#t=25m56s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Gratis frokostpakke til alle passasjerer</td>
        <td> </td>
        <td>Frokost</td>
        <td> </td>
        <td>Bodø</td>
        <td> </td>
        <td> </td>
        <td>Mat</td>
        <td>Uniform</td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Bibliotek</td>
        <td> </td>
        <td> </td>
        <td>Spesielle kombinasjoner</td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008977/05-02-1977#t=27m40s</td>
        <td>Kvinne</td>
        <td> </td>
        <td>20 til 30</td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Kombinert bank- og bokbuss</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Fræna</td>
        <td>Mann</td>
        <td>50 til 60</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Instrumentmaking, Orgelbygging</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Hjemmelaget</td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41008977/05-02-1977#t=32m38s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>60 til 70</td>
        <td>Stort orgel</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Sortland</td>
        <td> </td>
        <td> </td>
        <td>Kunst og Håndverk</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009077/19-02-1977#t=27s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Folk i Sogn og Fjordane klager minst</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ukjent sted</td>
        <td> </td>
        <td> </td>
        <td>Ukategoriserbart</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td>Ler</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009077/19-02-1977#t=3m34s</td>
        <td> </td>
        <td>Fiskere</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Sildoljefabrikken</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Båtsfjord</td>
        <td>Mann</td>
        <td>60 til 70</td>
        <td>Landbruk og fiske</td>
        <td>Caps, Kjeledress, Skinnlue</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">6</td>
        <td> </td>
        <td>Wow</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009077/19-02-1977#t=11m43s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Årets vinterferie</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Lillehammer</td>
        <td> </td>
        <td> </td>
        <td>Natur og friluftsliv</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">20</td>
        <td>Skitur, Turisme</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Skole</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009077/19-02-1977#t=16m26s</td>
        <td>Mann</td>
        <td> </td>
        <td>15 til 20</td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Arbeidsledighet blant kvinner</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Verran</td>
        <td>Mann</td>
        <td>30 til 40</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Skiskyting</td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009077/19-02-1977#t=22m25s</td>
        <td>Kvinne</td>
        <td> </td>
        <td>30 til 40</td>
        <td align="right">7</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Foran VM i skiskyting</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Lillehammer</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Idrett og fysisk aktivitet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Dugnad</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009077/19-02-1977#t=29m55s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Kunder styrer butikken</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Tromsø</td>
        <td>Kvinne</td>
        <td>30 til 40</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009177/05-03-1977#t=1m55s</td>
        <td>Mann</td>
        <td> </td>
        <td>40 til 50</td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Vannmangel</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Bergen</td>
        <td>Mann</td>
        <td>50 til 60</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Caps, Hatt, Kjeledress, Skinnlue, Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Forsvaret</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009177/05-03-1977#t=9m33s</td>
        <td>Mann</td>
        <td> </td>
        <td>40 til 50</td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>5 til 10</td>
        <td>Hemmelige Østfold</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Rygge</td>
        <td>Kvinne</td>
        <td>20 til 30</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Skinnlue</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009177/05-03-1977#t=13m12s</td>
        <td> </td>
        <td>Skogsdrift</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Tømmerhogst</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Alta</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Landbruk og fiske</td>
        <td>Caps, Skinnlue</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Helsetjenester</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009177/05-03-1977#t=18m7s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Bruk av fluor</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Lillesand</td>
        <td> </td>
        <td> </td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Menneske hjelper dyr, Rådyr</td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009177/05-03-1977#t=23m31s</td>
        <td>Kvinne</td>
        <td> </td>
        <td>10 til 15</td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Svære snømengder, rådyr fores</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ringerike</td>
        <td>Kvinne</td>
        <td>10 til 15</td>
        <td>Dyr</td>
        <td>Busserull</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009177/05-03-1977#t=30m5s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>80 til 90</td>
        <td>Grundsetmart&#39;n</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Elverum</td>
        <td>Kvinne</td>
        <td>30 til 40</td>
        <td>Ukategoriserbart</td>
        <td>Hatt, Skinnlue</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Helsetjenester</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=0s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Planlagt helsesportsenter</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Fauske</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Helsetjenester</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=3m23s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Helsesportsenter</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Øystre Slidre</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Forsvaret</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=7m8s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">30</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>20 til 30</td>
        <td>Befalsopplæring for jenter</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ullensaker</td>
        <td>Kvinne</td>
        <td>30 til 40</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Hjelm, Uniform</td>
        <td>Kvinne</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=11m50s</td>
        <td>Mann</td>
        <td> </td>
        <td>40 til 50</td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Om fremtidig helårsvei</td>
        <td> </td>
        <td> </td>
        <td>Samferdselspolitikk</td>
        <td>Stryn</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Politikk og media</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=16m40s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Om snø, vær og togtrafikk</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ulvik</td>
        <td> </td>
        <td> </td>
        <td>Ukategoriserbart</td>
        <td>Caps, Kjeledress, Slips, Uniform</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=21m3s</td>
        <td>Mann</td>
        <td>Fjøs, Gårdsdrift, Kyr, Åker og jorder og nydyrking</td>
        <td>40 til 50</td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Bonde på Jæren</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Sola</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Landbruk og fiske</td>
        <td>Caps, Kjeledress</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">4</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Alder</td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=25m49s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td>Fele, Folkemusikk</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Bladet spelemannslag</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ukjent sted</td>
        <td> </td>
        <td> </td>
        <td>Musikk</td>
        <td>Bunad, Caps</td>
        <td> </td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td>Elsker</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Skisport</td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009277/19-03-1977#t=29m7s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Birkebeinerrennet</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Åmot</td>
        <td> </td>
        <td> </td>
        <td>Idrett og fysisk aktivitet</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Kirke, Veldedighet, Skole, Veldedighet</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009377/02-04-1977#t=1m59s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Skoleelever med egen fastegudstjeneste</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ibestad</td>
        <td>Mann</td>
        <td>10 til 15</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Slips, Strikkekofte, Uniform</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Båt</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009377/02-04-1977#t=6m56s</td>
        <td>Mann</td>
        <td> </td>
        <td>20 til 30</td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Bygging av trebåter</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Leikanger</td>
        <td>Mann</td>
        <td>50 til 60</td>
        <td>Kunst og Håndverk</td>
        <td>Caps, Hatt, Skinnlue, Strikkekofte</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Verksted</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Grunder</td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009377/02-04-1977#t=14m59s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>70 til 80</td>
        <td>Mekanisk verksted</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Porsgrunn</td>
        <td> </td>
        <td> </td>
        <td>Kunst og Håndverk</td>
        <td>Hatt, Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009377/02-04-1977#t=19m59s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>60 til 70</td>
        <td>Bruk av snøscooter</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Lierne</td>
        <td>Mann</td>
        <td>50 til 60</td>
        <td>Natur og friluftsliv</td>
        <td>Skinnlue</td>
        <td>Mann</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Meteorologi</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009377/02-04-1977#t=24m55s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Bedre værvarsling</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Oslokommune</td>
        <td> </td>
        <td> </td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">4</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Hjort, Menneske hjelper dyr</td>
        <td>Personlighet, Spesiell latter</td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009377/02-04-1977#t=30m4s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>40 til 50</td>
        <td>Slørdal: Hjort</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Snillfjord</td>
        <td> </td>
        <td> </td>
        <td>Dyr</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td>Ler</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009377/02-04-1977#t=32m28s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Odd Børretzen om nordmenn og påske</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ukjent sted</td>
        <td> </td>
        <td> </td>
        <td>Ukategoriserbart</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Post og tele</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=2m2s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Radio- og TV-forbindelser</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Karasjok</td>
        <td> </td>
        <td> </td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Samiske klær, Skinnlue</td>
        <td> </td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Post og tele</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=4m44s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Slørdal: Dårlige TV-forhold</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Snillfjord</td>
        <td> </td>
        <td> </td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Post og tele</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=6m47s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Studiosamtale om fjernsynsdekning</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Oslokommune</td>
        <td> </td>
        <td> </td>
        <td>Offentlige tjenester og veldedighet</td>
        <td>Slips</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">1</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=9m10s</td>
        <td>Kvinne</td>
        <td>Fiskere</td>
        <td>5 til 10</td>
        <td align="right">4</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Lofotfiske 1977</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Vågan</td>
        <td>Kvinne</td>
        <td>50 til 60</td>
        <td>Landbruk og fiske</td>
        <td>Hatt, Skinnlue</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">20</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=14m10s</td>
        <td> </td>
        <td>Stein, Åker og jorder og nydyrking</td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Jæren: Steingjerder</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ukjent sted</td>
        <td> </td>
        <td> </td>
        <td>Landbruk og fiske</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td>Skole og barnehage</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=19m21s</td>
        <td>Kvinne</td>
        <td> </td>
        <td>20 til 30</td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Barnehagesituasjonen i Tranøy</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Tranøy</td>
        <td>Kvinne</td>
        <td>40 til 50</td>
        <td>Offentlige tjenester og veldedighet</td>
        <td> </td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=25m20s</td>
        <td>Kvinne</td>
        <td> </td>
        <td>15 til 20</td>
        <td align="right">6</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>20 til 30</td>
        <td>Ringebufjellet: Fjellturister på selvbetjeningshytte</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ringebu</td>
        <td>Kvinne</td>
        <td>20 til 30</td>
        <td>Natur og friluftsliv</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">6</td>
        <td>Friluftsliv, Skitur, Turisme</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Elg, Menneske hjelper dyr</td>
        <td>Prestasjon</td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009477/16-04-1977#t=29m48s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>60 til 70</td>
        <td>Foring av elg på Landbrukshøyskolen</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ås</td>
        <td>Mann</td>
        <td>40 til 50</td>
        <td>Dyr</td>
        <td>Caps, Kjeledress</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">3</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009577/30-04-1977#t=3m2s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Enda vinter</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Tana</td>
        <td>Mann</td>
        <td>60 til 70</td>
        <td>Natur og friluftsliv</td>
        <td>Samiske klær</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td>Årstider og vakker natur</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009577/30-04-1977#t=6m40s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right"></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Vår</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Røst</td>
        <td> </td>
        <td> </td>
        <td>Natur og friluftsliv</td>
        <td>Caps</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">10</td>
        <td>Fugleliv, Årstider og vakker natur</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009577/30-04-1977#t=11m5s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">2</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>30 til 40</td>
        <td>Vår ved Trondheimsfjorden</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Hitra</td>
        <td> </td>
        <td> </td>
        <td>Natur og friluftsliv</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">3</td>
        <td>Fugleliv, Årstider og vakker natur</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">1977</td>
        <td>https://tv.nrk.no/serie/norge-rundt/FREP41009577/30-04-1977#t=15m9s</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">5</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>50 til 60</td>
        <td>Hardanger: Vår</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Ullensvang</td>
        <td> </td>
        <td> </td>
        <td>Natur og friluftsliv</td>
        <td>Bunad</td>
        <td>Mann</td>
        <td> </td>
        <td align="right">2</td>
        <td>Årstider og vakker natur, Turisme</td>
        <td> </td>
        <td> </td>
    </tr>
    </tbody></table>