<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoT character</title>
</head>
    <body>
    <h1>Info about Jon Snow</h1>


        <div><a>Name: </a><a>{{ .Name }}</a></div>
        <div><a>Gender: </a><a>{{ .Gender}}</a></div>
        <div><a>Culture: </a><a>{{ .Culture }}</a></div>
        <div><a>Born: </a><a>{{ .Born }}</a></div>
        <div><a>Titles: </a><a>{{ .Titles }}</a></div>
        <div><a>Aliases: </a><a>{{ .Aliases }}</a></div>
        <div><a>TvSeries: </a><a>{{ .TvSeries }}</a></div>
        <div><a>Played By: </a><a>{{ .PlayedBy }}</a></div>
    </body>
</html>

<!--	URL         string   `json:"url"`
	Name        string   `json:"name"`
	Gender      string   `json:"gender"`
	Culture     string   `json:"culture"`
	Born        string   `json:"born"`
	Died        string   `json:"died"`
	Titles      []string `json:"titles"`
	Aliases     []string `json:"aliases"`
	Father      string   `json:"father"`
	Mother      string   `json:"mother"`
	Spouse      string   `json:"spouse"
	TvSeries    []string `json:"tvSeries"`
	PlayedBy    []string `json:"playedBy"``-->