<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Valglokaler</h2>
    <p> Data hentet fra <b>https://hotell.difi.no/api/json/valg/valglokaler/2017</b></p>
    <br>
    <p>Area: {{ .Area }}</p>
    <p>BoroughName: {{ .BoroughName }}</p>
    <p>AddressLine>: {{ .AddressLine }}</p>
    <p>PollingPlaceID: {{ .PollingPlaceID }}</p>
    <p>BoroughID: {{ .BoroughID}}</p>
    <p>CountyName: {{ .CountyName }}</p>
    <p>PollingPlaceName: {{ .PollingPlaceName }}</p>
    <p>GpsCoordinates: {{ .GpsCoordinates }}</p>
    <p>MunicipalityID: {{ .MunicipalityID }}</p>
    <p>ElectionDayVoting: {{ .ElectionDayVoting }}</p>
    <p>InfoText: {{ .InfoText }}</p>
    <p>OpeningHours: {{ .OpeningHours }}</p>
    <p>PostalCode: {{ .PostalCode }}</p>
</div>
</body>
</html>